<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>电波</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<!--
       生成图片的宽度
    -->
<w>
    1350
</w>
<div>
    <div class="card">
        <div class="card-layer">
            <div class="nighTwave">
                <h1>电波</h1>
				<h3>---每日挑战---</h3>
				<div th:each="n:${nigh}">
				<p class="day" th:if="${n.reputation == 1000}" th:text="${n.desc} + '('+${n.reputation} + ')'"></p>
				</div>
				<h3>---每周挑战---</h3>
				<div th:each="n:${nigh}">
					<p class="week" th:if="${n.reputation == 4500}" th:text="${n.desc} + '('+${n.reputation} + ')'"></p>
				</div>
				<h3>---精英挑战---</h3>
				<div th:each="n:${nigh}">
					<p class="week" th:if="${n.reputation == 7000}" th:text="${n.desc} + '('+${n.reputation} + ')'"></p>
				</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
