<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <title>紫卡分析</title>
    <style>
        .weapons_name {
            color: #CC99CC;
        }

        .trend_old {
            color: #FFFFCC;
        }

        .trend {
            color: #FFFF66;
        }

        .weapons_type {
            color: #CC3366;
        }

        .attribute {
            color: #FF9933;
        }

        html {
            background-color: #4D3D54;
        }

        p {
            color: #CC9966;
        }

    </style>
</head>
<body>
<w>1500</w>
<div th:each="r:${data}">
    <div th:each="tm:${r}">
        <div>
            <h3 th:text="${tm.rivenName ==null} ? ${tm.weaponName} : ${tm.weaponName+' ('+tm.rivenName+')'}"
                class="weapons_name"></h3>
            <p>
                倾向：
                <span th:text="${tm.newDot + '('+ tm.newNum + ')' }" class="trend"></span>
            </p>
            <p>此前版本倾向：<span th:text="${tm.oldDot + '('+ tm.oldNum + ')' }" class="trend_old"></span></p>
            <p>武器类型：<span th:text="${tm.weaponType}" class="weapons_type"></span></p>
            <p>具体分析结果：</p>
            <div th:each="ats:${tm.attributes}">
                <p class="attribute">
                    <span th:text="${ats.attr+'% '+ats.name}"></span>
                    <span th:if="${ats.get('highAttrDiff')}" th:text="${ '('+ ats.lowAttr + '% - ' + ats.highAttr+ '% | 高 ' + ats.highAttrDiff + '% )'}"></span>
                    <span th:if="${ats.get('lowAttrDiff')}" th:text="${ '(' + ats.lowAttr + '% - ' + ats.highAttr + '% | 低 '+ ats.lowAttrDiff +'% )'}"></span>
                </p>
            </div>
        </div>
        <p>--------------------------------------------------------</p>
    </div>
</div>
</body>
</html>